dataAnalysisDev/
tnSeqExperiments/
.idea/
essentiality/marinerWig/R7A_hybrid_final.fasta
ref/
essentiality/marinerTRANSIT
essentiality/tn5TraDIS
essentiality/tn5TSAS
/essentiality/wigTn5/5237-01.bed
/TA1TnseqIGV
/TA1TraDIS
/tnSeqData
/tnSeqAnalysis
